In [57]:
#Mi primer paso es importar y mostrar el archivo con el que voy a trabajar.
import pandas as pd

data = pd.read_csv('GSAF5.csv')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [58]:
#Para evitar errores, cambio el nombre de las columnas quitando espacios y puntos.

data = data.rename(index=str, columns={"Case Number": "Case_Number", "Sex ": "Sex", 
                                       "Fatal (Y/N)": "Fatal_Y/N", "Species ": "Species",
                                       "Investigator or Source": "Investigator_or_Source", 
                                       "href formula": "href_formula", "Case Number.1": "Case_Number_1", 
                                       "Case Number.2": "Case_Number_2",
                                       "original order": "original_order", "Unnamed: 22": "Unnamed:_22", 
                                       "Unnamed: 23": "Unnamed:_23"})
data.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed:_22,Unnamed:_23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [59]:
#Ahora miro las columnas que contienen valores nulos para saber qué columnas merece la pena eliminar.

null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal_Y/N                   19
Time                      3213
Species                   2934
Investigator_or_Source      15
href_formula                 1
href                         3
Unnamed:_22               5991
Unnamed:_23               5990
dtype: int64

In [63]:
#También procedo a chequear si existiera algún caso repetido y a eliminarlo, indicando cuántos casos han sido
#eliminados.

before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [61]:
#En este paso, dado que sospecho que las columnas 'href_formula' y 'href', y las columnas 'Case_Number',
#'Case_Number_1' y 'Case_Number_2 'son iguales respectivamente, hago una intersección entre dichas columnas
#para ver en cuántos casos los valores en las diferentes columnas no están repetidos. 

data_href = data[['href_formula', 'href']]


in_href_formula_not_in_href = list(set(data_href['href_formula'])-(set(data_href['href'])))
in_href_not_in_href_formula = list(set(data_href['href'])-(set(data_href['href_formula'])))

print(len(in_href_formula_not_in_href))
print(len(in_href_not_in_href_formula))

data_Case_Number_1 = data[['Case_Number', 'Case_Number_1']]


in_Case_Number_not_in_Case_Number_1 = list(set(data_Case_Number_1['Case_Number'])-(set(data_Case_Number_1['Case_Number_1'])))
in_Case_Number_1_not_in_Case_Number = list(set(data_Case_Number_1['Case_Number_1'])-(set(data_Case_Number_1['Case_Number'])))

print(len(in_Case_Number_not_in_Case_Number_1))
print(len(in_Case_Number_1_not_in_Case_Number))

data_Case_Number_2 = data[['Case_Number', 'Case_Number_2']]


in_Case_Number_not_in_Case_Number_2 = list(set(data_Case_Number_2['Case_Number'])-(set(data_Case_Number_2['Case_Number_2'])))
in_Case_Number_2_not_in_Case_Number = list(set(data_Case_Number_2['Case_Number_2'])-(set(data_Case_Number_2['Case_Number'])))

print(len(in_Case_Number_not_in_Case_Number_2))
print(len(in_Case_Number_not_in_Case_Number_2))

53
45
13
12
2
2

In [62]:
#En base al paso anterior, procedo a ir eliminando las columnas repetidas o con muchos valores nulos.

data = data.drop(columns=['href', 'Case_Number_1', 'Case_Number_2', 'Unnamed:_22', 'Unnamed:_23', 'Date', 
                          'Time', 'Species'])
data.head(2)

,Case_Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_Y/N,Investigator_or_Source,pdf,href_formula,original_order
0,2016.09.18.c,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5993
1,2016.09.18.b,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5992

In [53]:
#En este paso, tras examinar los posibles valores de columnas en las que podría basar mi análisis, procedo a
#limpiar los posibles valores que pueden tomar las variables.

data['Country'] = data['Country'].str.title()
data['Country'] = data['Country'].str.replace('?', '')
data['Sex'] = data['Sex'].str.replace('M ', 'M')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('N ', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('n', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace(' N', 'N')

print(set(data['Country']))
print(set(data['Sex']))
print(set(data['Fatal_Y/N']))

In [45]:
#Comienzo a filtrar los datos que quiero utilizar. En este caso, quiero analizar los ataques producidos en los
#siglos XX y XXI. Además, cambio el formato del año tras realizar las operaciones previas para eliminar decimales.

print(data['Year'].dtype)
data_year1 = data.where(data['Year'] > 1899)
data_year2 = data_year1.dropna(subset=['Year'])
print(set(data_year2['Year']))
print(data_year2['Year'].dtype)
data_year2['Year'] = data_year2['Year'].astype('int64')
print(set(data_year2['Year']))

int64
{1900.0, 1901.0, 1902.0, 1903.0, 1904.0, 1905.0, 1906.0, 1907.0, 1908.0, 1909.0, 1910.0, 1911.0, 1912.0, 1913.0, 1914.0, 1915.0, 1916.0, 1917.0, 1918.0, 1919.0, 1920.0, 1921.0, 1922.0, 1923.0, 1924.0, 1925.0, 1926.0, 1927.0, 1928.0, 1929.0, 1930.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0, 1936.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0}
float64
{1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016}

/home/linuxbrew/.linuxbrew/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)



data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4



df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('-', '')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('Automatic', 'Auto')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('Auto\(', 'Auto ')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('Manual\(', 'Manual ')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('\(', '')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('\)', '')
print(set(df_without_nulls['trany']))