In [41]:
#Mi primer paso es importar y mostrar el archivo con el que voy a trabajar.
import pandas as pd

data = pd.read_csv('GSAF5.csv')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [42]:
#Para evitar errores, cambio el nombre de las columnas quitando espacios y puntos.

data = data.rename(index=str, columns={"Case Number": "Case_Number", "Sex ": "Sex", 
                                       "Fatal (Y/N)": "Fatal_Y/N", "Species ": "Species",
                                       "Investigator or Source": "Investigator_or_Source", 
                                       "href formula": "href_formula", "Case Number.1": "Case_Number_1", 
                                       "Case Number.2": "Case_Number_2",
                                       "original order": "original_order", "Unnamed: 22": "Unnamed:_22", 
                                       "Unnamed: 23": "Unnamed:_23"})
data.head(20)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed:_22,Unnamed:_23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,...,NaN,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.a,2016.09.05.a,5983,NaN,NaN
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,...,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04-Moore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.04,2016.09.04,5982,NaN,NaN
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,...,White shark,"R. Collier, GSAF",2016.09.01-McQuillen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.01,2016.09.01,5981,NaN,NaN
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,...,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b-Cumiskey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.b,2016.08.29.b,5980,NaN,NaN
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"News Channel 8, 8/30/16",2016.08.29.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.a,2016.08.29.a,5979,NaN,NaN
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,...,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27-Chardard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.27,2016.08.27,5978,NaN,NaN
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,...,NaN,"First Coast News, 7/25/2016",2016.08.25-Cassetty.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.25,2016.08.25,5977,NaN,NaN
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,...,NaN,"ABC, 8/11/2016",2016.08.07-Stoch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.07,2016.08.07,5976,NaN,NaN
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,...,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.06,2016.08.06,5975,NaN,NaN
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,...,Blacktip shark,"News 965, 8/5/2016",2016.06.04-Tyler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.04,2016.08.04,5974,NaN,NaN

In [43]:
#Ahora miro las columnas que contienen valores nulos para saber qué columnas merece la pena eliminar.

null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal_Y/N                   19
Time                      3213
Species                   2934
Investigator_or_Source      15
href_formula                 1
href                         3
Unnamed:_22               5991
Unnamed:_23               5990
dtype: int64

In [44]:
#También procedo a chequear si existiera algún caso repetido y a eliminarlo, indicando cuántos casos han sido
#eliminados.

before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [45]:
#En este paso, dado que sospecho que las columnas 'href_formula' y 'href', y las columnas 'Case_Number',
#'Case_Number_1' y 'Case_Number_2 'son iguales respectivamente, hago una intersección entre dichas columnas
#para ver en cuántos casos los valores en las diferentes columnas no están repetidos. 

data_href = data[['href_formula', 'href']]


in_href_formula_not_in_href = list(set(data_href['href_formula'])-(set(data_href['href'])))
in_href_not_in_href_formula = list(set(data_href['href'])-(set(data_href['href_formula'])))

print(len(in_href_formula_not_in_href))
print(len(in_href_not_in_href_formula))

data_Case_Number_1 = data[['Case_Number', 'Case_Number_1']]


in_Case_Number_not_in_Case_Number_1 = list(set(data_Case_Number_1['Case_Number'])-(set(data_Case_Number_1['Case_Number_1'])))
in_Case_Number_1_not_in_Case_Number = list(set(data_Case_Number_1['Case_Number_1'])-(set(data_Case_Number_1['Case_Number'])))

print(len(in_Case_Number_not_in_Case_Number_1))
print(len(in_Case_Number_1_not_in_Case_Number))

data_Case_Number_2 = data[['Case_Number', 'Case_Number_2']]


in_Case_Number_not_in_Case_Number_2 = list(set(data_Case_Number_2['Case_Number'])-(set(data_Case_Number_2['Case_Number_2'])))
in_Case_Number_2_not_in_Case_Number = list(set(data_Case_Number_2['Case_Number_2'])-(set(data_Case_Number_2['Case_Number'])))

print(len(in_Case_Number_not_in_Case_Number_2))
print(len(in_Case_Number_not_in_Case_Number_2))

53
45
13
12
2
2

In [46]:
#En base al paso anterior, procedo a ir eliminando las columnas repetidas o con muchos valores nulos.

data = data.drop(columns=['href', 'Case_Number_1', 'Case_Number_2', 'Unnamed:_22', 'Unnamed:_23', 'Time', 
                          'Species', 'Case_Number', 'Area', 'Location', 'Name', 'Investigator_or_Source', 
                          'pdf', 'href_formula', 'original_order'])

column_order = ['Year', 'Date', 'Country', 'Sex', 'Age', 'Fatal_Y/N', 'Activity', 'Type', 'Injury']
data = data[column_order]
data.head(20)

,Year,Date,Country,Sex,Age,Fatal_Y/N,Activity,Type,Injury
0,2016,18-Sep-16,USA,M,16,N,Surfing,Unprovoked,Minor injury to thigh
1,2016,18-Sep-16,USA,M,36,N,Surfing,Unprovoked,Lacerations to hands
2,2016,18-Sep-16,USA,M,43,N,Surfing,Unprovoked,Lacerations to lower leg
3,2016,17-Sep-16,AUSTRALIA,M,NaN,N,Surfing,Unprovoked,Struck by fin on chest & leg
4,2016,16-Sep-16,AUSTRALIA,M,NaN,N,Surfing,Unprovoked,No injury: Knocked off board by shark
5,2016,15-Sep-16,AUSTRALIA,NaN,NaN,N,Fishing,Boat,Shark rammed boat. No injury to occupant
6,2016,11-Sep-16,USA,M,60s,N,Wading,Unprovoked,Minor injury to arm
7,2016,07-Sep-16,USA,F,51,N,Swimming,Unprovoked,Severe lacerations to shoulder & forearm
8,2016,06-Sep-16,NEW CALEDONIA,M,50,Y,Kite surfing,Unprovoked,FATAL
9,2016,05-Sep-16,USA,F,12,N,Boogie boarding,Unprovoked,Lacerations & punctures to lower right leg
10,2016,05-Sep-16,AUSTRALIA,M,NaN,N,Surfing,Unprovoked,"No inury, board broken in half by shark"
11,2016,04-Sep-16,USA,M,9,N,Body boarding,Unprovoked,Foot bitten
12,2016,01-Sep-16,USA,M,22,N,Spearfishing,Unprovoked,Two toes broken & lacerated
13,2016,29-Aug-16,USA,M,25,N,Surfing,Unprovoked,Lacerations to right foot
14,2016,29-Aug-16,USA,M,37,N,Surfing,Unprovoked,Minor injury to ankle
15,2016,27-Aug-16,REUNION,M,20,N,Surfing,Unprovoked,"Right arm severed, ankle severely bitten"
16,2016,25-Aug-16,USA,M,49,N,Wading,Unprovoked,Minor injury to ankle
17,2016,07-Aug-16,BAHAMAS,M,15,N,Snorkeling,Unprovoked,Lacerations to left leg
18,2016,06-Aug-16,USA,M,21,N,SUP Foil boarding,Unprovoked,"No inury, shark & board collided"
19,2016,04-Aug-16,USA,M,22,N,Surfing,Unprovoked,Big toe bitten

In [47]:
#En este paso, tras examinar los posibles valores de columnas en las que podría basar mi análisis, procedo a
#limpiar los posibles valores que pueden tomar las variables.

data['Country'] = data['Country'].str.title()
data['Country'] = data['Country'].str.replace('?', '')
data['Country'] = data['Country'].fillna("Unknown")
data['Country'] = data['Country'].str.replace('Palestinian Territories', 'Palestina')
data['Country'] = data['Country'].str.replace('Between Portugal & India', 'Portugal / India')
data['Country'] = data['Country'].str.replace('Ceylon (Sri Lanka)', 'Sri Lanka')
data['Country'] = data['Country'].str.replace('British Isles', 'United Kingdom/Ireland')

data['Sex'] = data['Sex'].str.replace('M ', 'M')
data['Sex'] = data['Sex'].str.replace('lli', 'Unknown')
data['Sex'] = data['Sex'].str.replace('.', 'Unknown')
data['Sex'] = data['Sex'].str.replace('N', 'Unknown')
data['Sex'] = data['Sex'].fillna("Unknown")

data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('N ', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('n', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace(' N', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('#VALUE!', 'Unknown')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('F', 'Unknown')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('UNKNOWN', 'Unknown')
data['Fatal_Y/N'] = data['Fatal_Y/N'].fillna("Unknown")

print(set(data['Country']))
print(set(data['Sex']))
print(set(data['Fatal_Y/N']))

{'Algeria', 'Micronesia', 'Yemen', 'India', 'Mauritius', 'Greece', 'New Zealand', 'Pacific Ocean', 'Papua New Guinea', 'Kenya', 'Lebanon', 'Brazil', 'Taiwan', 'Maldive Islands', 'Bahamas', 'Atlantic Ocean', 'Philippines', 'Gulf Of Aden', 'Fiji', 'Red Sea', 'Portugal / India', 'South Korea', 'Admiralty Islands', 'Caribbean Sea', 'Uruguay', 'United Kingdom/Ireland', 'Sudan', 'Tonga', 'Gabon', 'Malta', 'Iran / Iraq', 'France', 'Dominican Republic', 'Korea', 'Guyana', 'Puerto Rico', 'St. Maartin', 'Cyprus', 'Panama', 'El Salvador', 'Columbia', 'Aruba', 'St. Martin', 'Honduras', 'North Atlantic Ocean', 'Montenegro', 'Sweden', 'South Pacific Ocean', 'Mid-Pacifc Ocean', 'British Virgin Islands', 'Kiribati', 'Ecuador', 'Malaysia', 'Liberia', 'Singapore', 'Greenland', 'Central Pacific', 'Scotland', 'United Arab Emirates (Uae)', 'Russia', 'Turks & Caicos', 'Solomon Islands', 'Tunisia', 'South China Sea', 'Crete', 'Okinawa', 'Marshall Islands', 'North Pacific Ocean', 'Tasman Sea', 'Ghana', 'Djibouti', 'Bahrein', 'Cayman Islands', 'Andaman / Nicobar Islandas', 'Azores', 'The Balkans', 'British New Guinea', 'Croatia', 'Australia', 'Samoa', 'Venezuela', 'Costa Rica', 'Kuwait', 'Italy / Croatia', 'New Guinea', 'Falkland Islands', 'Angola', 'Nicaragua ', 'Mediterranean Sea', 'Iceland', 'Equatorial Guinea / Cameroon', 'Ireland', 'Antigua', 'Hong Kong', ' Philippines', 'Haiti', 'Mexico ', 'Senegal', 'Mozambique', 'Chile', 'Portugal', 'Pacific Ocean ', 'China', 'American Samoa', 'Norway', 'Solomon Islands / Vanuatu', 'Georgia', 'Iran', 'Israel', 'Spain', 'South Africa', 'Indonesia', 'Northern Arabian Sea', 'Federated States Of Micronesia', 'Ceylon (Sri Lanka)', 'Indian Ocean', 'Mexico', 'Jamaica', 'Bay Of Bengal', 'Egypt', 'Bermuda', 'Guam', 'Mid Atlantic Ocean', 'Cape Verde', 'Persian Gulf', 'Saudi Arabia', 'Tuvalu', 'Italy', 'Reunion', 'Slovenia', 'Vietnam', 'Guatemala', 'United Arab Emirates', 'Tanzania', 'Guinea', 'England', 'Martinique', 'Grenada', 'Trinidad & Tobago', 'United Kingdom', 'Palau', 'Netherlands Antilles', 'Egypt / Israel', 'Western Samoa', 'Southwest Pacific Ocean', 'Vanuatu', 'British West Indies', 'Curacao', 'Burma', 'Nigeria', 'Nicaragua', 'New Britain', 'Diego Garcia', 'Somalia', 'Grand Cayman', 'South Atlantic Ocean', 'Thailand', 'Sri Lanka', 'Namibia', 'Red Sea / Indian Ocean', 'French Polynesia', 'Argentina', 'Barbados', 'Unknown', 'Coast Of Africa', 'Paraguay', 'Sierra Leone', 'Java', 'Monaco', 'Turkey', 'Belize', 'Madagascar', 'Seychelles', 'Palestina', 'Canada', 'North Atlantic Ocean ', 'San Domingo', 'Egypt ', 'Northern Mariana Islands', 'Yemen ', 'Ocean', 'New Caledonia', 'Asia', 'Cuba', 'Bangladesh', 'Iraq', 'Japan', 'St Helena', 'Syria', 'Johnston Island', 'Cook Islands', ' Tonga', 'North Sea', 'Usa', 'Libya', 'Mayotte', 'Nevis'}
{'Unknown', 'F', 'M'}
{'Unknown', 'Y', 'N'}

In [48]:
#Comienzo a filtrar los datos que quiero utilizar. En este caso, quiero analizar los ataques producidos en los
#siglos XX y XXI.

years = data["Year"]
drop_cols = list(years[years < 1900].index)
data = data.drop(drop_cols, axis=0)
#data['Year'].value_counts()

In [49]:
data.head()

,Year,Date,Country,Sex,Age,Fatal_Y/N,Activity,Type,Injury
0,2016,18-Sep-16,Usa,M,16,N,Surfing,Unprovoked,Minor injury to thigh
1,2016,18-Sep-16,Usa,M,36,N,Surfing,Unprovoked,Lacerations to hands
2,2016,18-Sep-16,Usa,M,43,N,Surfing,Unprovoked,Lacerations to lower leg
3,2016,17-Sep-16,Australia,M,NaN,N,Surfing,Unprovoked,Struck by fin on chest & leg
4,2016,16-Sep-16,Australia,M,NaN,N,Surfing,Unprovoked,No injury: Knocked off board by shark

In [14]:
print(set(data['Age']))

data.dtypes
data['Age'] = data['Age'].astype('str')

data['Age'].value_counts()

data['Age'] = data['Age'].fillna("Unknown")
data['Age'] = data['Age'].str.replace(''60's', '65')
data['Age'] = data['Age'].str.replace('?    &   14', '14')
data['Age'] = data['Age'].str.replace('? & 19', '19')
data['Age'] = data['Age'].str.replace('30 & 32', '33')
data['Age'] = data['Age'].str.replace('8 or 10', '9')
data['Age'] = data['Age'].str.replace('A.M.', 'Unknown')
data['Age'] = data['Age'].str.replace('adult', '40')
data['Age'] = data['Age'].str.replace('9 months', '1')
data['Age'] = data['Age'].str.replace('17 & 16', '16')
data['Age'] = data['Age'].str.replace('Teens', '15')
data['Age'] = data['Age'].str.replace('40s', '45')
data['Age'] = data['Age'].str.replace('9 or 10', '9')
data['Age'] = data['Age'].str.replace(' ', 'Unknown')
data['Age'] = data['Age'].str.replace('33 & 37', '35')
data['Age'] = data['Age'].str.replace('33 or 37', '35')
data['Age'] = data['Age'].str.replace('2 to 3 months', '0')
data['Age'] = data['Age'].str.replace('Teen', '15')
data['Age'] = data['Age'].str.replace('21 or 26', '24')
data['Age'] = data['Age'].str.replace('"middle-age"', '35')
data['Age'] = data['Age'].str.replace('60s', '65')
data['Age'] = data['Age'].str.replace('28 & 26', '27')
data['Age'] = data['Age'].str.replace('31 or 33', '32')
data['Age'] = data['Age'].str.replace('23 & 20', '21')
data['Age'] = data['Age'].str.replace('13 or 18', '15')
data['Age'] = data['Age'].str.replace('  ', 'Unknown')
data['Age'] = data['Age'].str.replace('7 or 8', '7')
data['Age'] = data['Age'].str.replace('50s', '55')
data['Age'] = data['Age'].str.replace('33 & 26', '29')
data['Age'] = data['Age'].str.replace('10 or 12', '11')
data['Age'] = data['Age'].str.replace('21, 34,24 & 35', '28')
data['Age'] = data['Age'].str.replace('30 or 36', '33')
data['Age'] = data['Age'].str.replace('18 or 20', '19')
data['Age'] = data['Age'].str.replace('Both 11', '11')
data['Age'] = data['Age'].str.replace('young', '25')
data['Age'] = data['Age'].str.replace('6\\BD', '6')
data['Age'] = data['Age'].str.replace('37, 67, 35, 27,  ? & 27', '39')
data['Age'] = data['Age'].str.replace('>50', '55')
data['Age'] = data['Age'].str.replace('12 or 13', '12')
data['Age'] = data['Age'].str.replace('23 & 26', '24')
data['Age'] = data['Age'].str.replace('?', '')
data['Age'] = data['Age'].str.replace('\\A0 ', 'Unknown')
data['Age'] = data['Age'].str.replace('30s', '35')
data['Age'] = data['Age'].str.replace('34 & 19', '26')
data['Age'] = data['Age'].str.replace('(adult)', '40')
data['Age'] = data['Age'].str.replace('MAKE LINE GREEN', 'Unknown')
data['Age'] = data['Age'].str.replace('7      &    31', '19')
data['Age'] = data['Age'].str.replace('mid-20s', '25')
data['Age'] = data['Age'].str.replace('50 & 30', '40')
data['Age'] = data['Age'].str.replace('18 months', '2')
data['Age'] = data['Age'].str.replace('Elderly', '60')
data['Age'] = data['Age'].str.replace('28, 23 & 30', '27')
data['Age'] = data['Age'].str.replace('20s', '25')
data['Age'] = data['Age'].str.replace('Ca. 33', '33')
data['Age'] = data['Age'].str.replace('"young"', '25')
data['Age'] = data['Age'].str.replace('teen', '15')
data['Age'] = data['Age'].str.replace('25 or 28', '26')
data['Age'] = data['Age'].str.replace('36 & 23', '29')
data['Age'] = data['Age'].str.replace('16 to 18', '17')
data['Age'] = data['Age'].str.replace('18 to 22', '20')
data['Age'] = data['Age'].str.replace('17 & 35', '26')
data['Age'] = data['Age'].str.replace('X', 'Unknown')
data['Age'] = data['Age'].str.replace('36 & 26', '31')
data['Age'] = data['Age'].str.replace('25 to 35', '30')
data['Age'] = data['Age'].str.replace('mid-30s', '35')
data['Age'] = data['Age'].str.replace('32 & 30', '31')
data['Age'] = data['Age'].str.replace('F', 'Unknown')
data['Age'] = data['Age'].str.replace('21 & ?', '21')
data['Age'] = data['Age'].str.replace('46 & 34', '40')
data['Age'] = data['Age'].str.replace('9 & 12', '10')




data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)



data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4



df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('-', '')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('Automatic', 'Auto')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('Auto\(', 'Auto ')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('Manual\(', 'Manual ')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('\(', '')
df_without_nulls['trany'] = df_without_nulls['trany'].str.replace('\)', '')
print(set(df_without_nulls['trany']))

SyntaxError: invalid syntax (<ipython-input-14-935a9e6c7442>, line 2)