In [228]:
#Mi primer paso es importar y mostrar el archivo con el que voy a trabajar.

import pandas as pd

data = pd.read_csv('GSAF5.csv')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [229]:
#Para evitar errores, cambio el nombre de las columnas quitando espacios y puntos.

data = data.rename(index=str, columns={"Case Number": "Case_Number", "Sex ": "Sex", 
                                       "Fatal (Y/N)": "Fatal_Y/N", "Species ": "Species",
                                       "Investigator or Source": "Investigator_or_Source", 
                                       "href formula": "href_formula", "Case Number.1": "Case_Number_1", 
                                       "Case Number.2": "Case_Number_2",
                                       "original order": "original_order", "Unnamed: 22": "Unnamed:_22", 
                                       "Unnamed: 23": "Unnamed:_23"})
data.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order,Unnamed:_22,Unnamed:_23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [230]:
#Ahora miro las columnas que contienen valores nulos para saber qué columnas merece la pena eliminar.

null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal_Y/N                   19
Time                      3213
Species                   2934
Investigator_or_Source      15
href_formula                 1
href                         3
Unnamed:_22               5991
Unnamed:_23               5990
dtype: int64

In [231]:
#También procedo a chequear si existiera algún caso repetido y a eliminarlo, indicando cuántos casos han sido
#eliminados.

before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [232]:
#En este paso, dado que sospecho que las columnas 'href_formula' y 'href', y las columnas 'Case_Number',
#'Case_Number_1' y 'Case_Number_2 'son iguales respectivamente, hago una intersección entre dichas columnas
#para ver en cuántos casos los valores en las diferentes columnas no están repetidos. 

data_href = data[['href_formula', 'href']]


in_href_formula_not_in_href = list(set(data_href['href_formula'])-(set(data_href['href'])))
in_href_not_in_href_formula = list(set(data_href['href'])-(set(data_href['href_formula'])))

print(len(in_href_formula_not_in_href))
print(len(in_href_not_in_href_formula))

data_Case_Number_1 = data[['Case_Number', 'Case_Number_1']]


in_Case_Number_not_in_Case_Number_1 = list(set(data_Case_Number_1['Case_Number'])-(set(data_Case_Number_1['Case_Number_1'])))
in_Case_Number_1_not_in_Case_Number = list(set(data_Case_Number_1['Case_Number_1'])-(set(data_Case_Number_1['Case_Number'])))

print(len(in_Case_Number_not_in_Case_Number_1))
print(len(in_Case_Number_1_not_in_Case_Number))

data_Case_Number_2 = data[['Case_Number', 'Case_Number_2']]


in_Case_Number_not_in_Case_Number_2 = list(set(data_Case_Number_2['Case_Number'])-(set(data_Case_Number_2['Case_Number_2'])))
in_Case_Number_2_not_in_Case_Number = list(set(data_Case_Number_2['Case_Number_2'])-(set(data_Case_Number_2['Case_Number'])))

print(len(in_Case_Number_not_in_Case_Number_2))
print(len(in_Case_Number_not_in_Case_Number_2))

#En el resultado podemos comprobar que efectivamente hay

53
45
13
12
2
2

In [233]:
#En base al paso anterior, procedo a ir eliminando las columnas repetidas o con muchos valores nulos.

data = data.drop(columns=['href', 'Case_Number_1', 'Case_Number_2', 'Unnamed:_22', 'Unnamed:_23', 'Time', 
                          'Species', 'Case_Number', 'Area', 'Location', 'Name', 'Investigator_or_Source', 
                          'pdf', 'href_formula', 'original_order'])

column_order = ['Year', 'Date', 'Country', 'Sex', 'Age', 'Fatal_Y/N', 'Activity', 'Type', 'Injury']
data = data[column_order]
data.head(20)

,Year,Date,Country,Sex,Age,Fatal_Y/N,Activity,Type,Injury
0,2016,18-Sep-16,USA,M,16,N,Surfing,Unprovoked,Minor injury to thigh
1,2016,18-Sep-16,USA,M,36,N,Surfing,Unprovoked,Lacerations to hands
2,2016,18-Sep-16,USA,M,43,N,Surfing,Unprovoked,Lacerations to lower leg
3,2016,17-Sep-16,AUSTRALIA,M,NaN,N,Surfing,Unprovoked,Struck by fin on chest & leg
4,2016,16-Sep-16,AUSTRALIA,M,NaN,N,Surfing,Unprovoked,No injury: Knocked off board by shark
5,2016,15-Sep-16,AUSTRALIA,NaN,NaN,N,Fishing,Boat,Shark rammed boat. No injury to occupant
6,2016,11-Sep-16,USA,M,60s,N,Wading,Unprovoked,Minor injury to arm
7,2016,07-Sep-16,USA,F,51,N,Swimming,Unprovoked,Severe lacerations to shoulder & forearm
8,2016,06-Sep-16,NEW CALEDONIA,M,50,Y,Kite surfing,Unprovoked,FATAL
9,2016,05-Sep-16,USA,F,12,N,Boogie boarding,Unprovoked,Lacerations & punctures to lower right leg
10,2016,05-Sep-16,AUSTRALIA,M,NaN,N,Surfing,Unprovoked,"No inury, board broken in half by shark"
11,2016,04-Sep-16,USA,M,9,N,Body boarding,Unprovoked,Foot bitten
12,2016,01-Sep-16,USA,M,22,N,Spearfishing,Unprovoked,Two toes broken & lacerated
13,2016,29-Aug-16,USA,M,25,N,Surfing,Unprovoked,Lacerations to right foot
14,2016,29-Aug-16,USA,M,37,N,Surfing,Unprovoked,Minor injury to ankle
15,2016,27-Aug-16,REUNION,M,20,N,Surfing,Unprovoked,"Right arm severed, ankle severely bitten"
16,2016,25-Aug-16,USA,M,49,N,Wading,Unprovoked,Minor injury to ankle
17,2016,07-Aug-16,BAHAMAS,M,15,N,Snorkeling,Unprovoked,Lacerations to left leg
18,2016,06-Aug-16,USA,M,21,N,SUP Foil boarding,Unprovoked,"No inury, shark & board collided"
19,2016,04-Aug-16,USA,M,22,N,Surfing,Unprovoked,Big toe bitten

In [234]:
#En este paso, tras examinar los posibles valores de columnas en las que podría basar mi análisis, procedo a
#limpiar los posibles valores que pueden tomar las variables.

data['Country'] = data['Country'].str.title()
data['Country'] = data['Country'].str.replace('?', '')
data['Country'] = data['Country'].fillna("Unknown")
data['Country'] = data['Country'].str.replace('Palestinian Territories', 'Palestina')
data['Country'] = data['Country'].str.replace('Between Portugal & India', 'Portugal / India')
data['Country'] = data['Country'].str.replace('Ceylon (Sri Lanka)', 'Sri Lanka')
data['Country'] = data['Country'].str.replace('British Isles', 'United Kingdom/Ireland')
data['Country'] = data['Country'].str.replace(' Philippines', 'Philippines')

data['Sex'] = data['Sex'].str.replace('M ', 'M')
data['Sex'] = data['Sex'].str.replace('lli', 'Unknown')
data['Sex'] = data['Sex'].str.replace('.', 'Unknown')
data['Sex'] = data['Sex'].str.replace('N', 'Unknown')
data['Sex'] = data['Sex'].fillna("Unknown")

data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('N ', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('n', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace(' N', 'N')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('#VALUE!', 'Unknown')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('F', 'Unknown')
data['Fatal_Y/N'] = data['Fatal_Y/N'].str.replace('UNKNOWN', 'Unknown')
data['Fatal_Y/N'] = data['Fatal_Y/N'].fillna("Unknown")

In [235]:
#Comienzo a filtrar los datos que quiero utilizar. En este caso, quiero analizar los ataques producidos en los
#siglos XX y XXI.

years = data["Year"]
drop_cols = list(years[years < 1900].index)
data = data.drop(drop_cols, axis=0)
#data['Year'].value_counts()

In [236]:
#Ahora me gutaría analizar los 3 países con mayor número de ataques, para saber cuál ha sido la distribución de los
#ataques en base a diferentes categorías.

ataque_pais = data['Country'].value_counts()
ataque_pais.head(10)

#Y como podemos observar por los resultados, los 5 países con más ataques son USA, Australia, South Africa, 
#Papua New Guinea y Brazil.

Usa                 1992
Australia           1124
South Africa         535
Papua New Guinea     129
Brazil               100
New Zealand           94
Bahamas               90
Mexico                73
Italy                 61
Philippines           56
Name: Country, dtype: int64

In [237]:
#En este primer escenario analizo cómo ha sido la distribución en porcentaje de los ataques según el sexo de la 
#víctima, lo cual nos podría dar una aproximación de cual es la tendencia entre sexos a realizar actividades
#relacionadas con el mar.

country_usa = data[(data['Country']=='Usa')]
country_australia = data[(data['Country']=='Australia')]
country_southafrica = data[(data['Country']=='South Africa')]

sex_usa = country_usa['Sex'].value_counts()/(country_usa['Sex'].count())*100
sex_australia = country_australia['Sex'].value_counts()/(country_australia['Sex'].count())*100
sex_southafrica = country_southafrica['Sex'].value_counts()/(country_southafrica['Sex'].count())*100

display(sex_usa)
display(sex_australia)
display(sex_southafrica)

#Como podemos observar, en USA el porcentaje de víctimas hombres fue del 80% mientras que el de mujeres fue del 15%.
#En el caso de Australia y de Sudáfrica los porcentajes fueron algo diferentes, siendo del 82% y 6% para Australia,
#y del 84% y 4% en el caso de Sudáfrica, debido al número de "Unkown" en estos dos países.

M          80.170683
F          15.110442
Unknown     4.718876
Name: Sex, dtype: float64

M          82.206406
Unknown    11.476868
F           6.316726
Name: Sex, dtype: float64

M          83.925234
Unknown    11.588785
F           4.485981
Name: Sex, dtype: float64

In [238]:
#Aunque creo que el análisis anterior se queda un poco corto en cuanto a qué actividad realiza cada género, dado
#que la peligrosidad de cada una no es la misma.

usa_hombre = data[(data['Country']=='Usa') & 
                   (data['Sex']=='M')]

usa_mujer = data[(data['Country']=='Usa') & 
                   (data['Sex']=='F')]
                   
#display(usa_hombre['Activity'].value_counts())
#display(usa_mujer['Activity'].value_counts())

display(usa_hombre['Activity'].mode())
display(usa_mujer['Activity'].mode())

#Así que ahora sabemos que la principal razón de los ataques en USA de hombre fue el surf, mientras que en el caso
#de las mujeres fue por nadar.

0    Surfing
dtype: object

0    Swimming
dtype: object

In [239]:
#Y ahora paso a analizar los años para saber, desde 1900 hasta hoy, cuál ha sido el año con más ataques registrados.
#Y como podemos ver en los resultados, los años con más ataques han sido a partir de los 2000.

data['Year'].value_counts()

#Además, también analizo la razón más común del ataque según ha pasado el tiempo, agrupando los ataques por décadas
#y por género.

attack_1920_man = data[(data['Year']>=1900) & (data['Year']<1920) & (data['Sex']=='M')]
attack_1920_woman = data[(data['Year']>=1900) & (data['Year']<1920) & (data['Sex']=='F')]

attack_1940_man = data[(data['Year']>=1920) & (data['Year']<1940) & (data['Sex']=='M')]
attack_1940_woman = data[(data['Year']>=1920) & (data['Year']<1940) & (data['Sex']=='F')]

attack_1960_man = data[(data['Year']>=1940) & (data['Year']<1960) & (data['Sex']=='M')]
attack_1960_woman = data[(data['Year']>=1940) & (data['Year']<1960) & (data['Sex']=='F')]

attack_1980_man = data[(data['Year']>=1960) & (data['Year']<1980) & (data['Sex']=='M')]
attack_1980_woman = data[(data['Year']>=1960) & (data['Year']<1980) & (data['Sex']=='F')]

attack_2000_man = data[(data['Year']>=1980) & (data['Year']<2000) & (data['Sex']=='M')]
attack_2000_woman = data[(data['Year']>=1980) & (data['Year']<2000) & (data['Sex']=='F')]

attack_2015_man = data[(data['Year']>=2000) & (data['Year']<2015) & (data['Sex']=='M')]
attack_2015_woman = data[(data['Year']>=2000) & (data['Year']<2015) & (data['Sex']=='F')]

print("De 1900 a 1920")
display(attack_1920_man['Activity'].mode())
display(attack_1920_woman['Activity'].mode())

print("De 1920 a 1940")
display(attack_1940_man['Activity'].mode())
display(attack_1940_woman['Activity'].mode())

print("De 1940 a 1960")
display(attack_1960_man['Activity'].mode())
display(attack_1960_woman['Activity'].mode())

print("De 1960 a 1980")
display(attack_1980_man['Activity'].mode())
display(attack_1980_woman['Activity'].mode())

print("De 1980 a 2000")
display(attack_2000_man['Activity'].mode())
display(attack_2000_woman['Activity'].mode())

print("De 2000 a 2015")
display(attack_2015_man['Activity'].mode())
display(attack_2015_woman['Activity'].mode())

#De los resultados podemos concluir que la principal razón de los ataques hasta la década fue nada, tanto para
#hombres como para mujeres. Es a partir de los 80 cuando la principal razón de los ataques a hombres es el surfing.

De 1900 a 1920

0    Swimming
dtype: object

0    Swimming
dtype: object

De 1920 a 1940

0    Swimming
dtype: object

0    Swimming
dtype: object

De 1940 a 1960

0    Swimming
dtype: object

0    Swimming
dtype: object

De 1960 a 1980

0    Swimming
dtype: object

0    Swimming
dtype: object

De 1980 a 2000

0    Surfing
dtype: object

0    Swimming
dtype: object

De 2000 a 2015

0    Surfing
dtype: object

0    Swimming
dtype: object

In [240]:
#Ahora vamos a analizar cómo han sido de graves los ataques primero por país, y luego por área concreta.

pais_peligroso = data.groupby(['Country', 'Fatal_Y/N']).size()
pais_peligroso.sort_values(ascending=False)

Country                Fatal_Y/N
Usa                    N            1772
Australia              N             836
South Africa           N             415
Australia              Y             263
Usa                    Y             196
South Africa           Y             115
Bahamas                N              82
New Zealand            N              78
Papua New Guinea       N              73
Brazil                 N              59
Papua New Guinea       Y              54
Italy                  N              42
Brazil                 Y              39
Mexico                 Y              37
                       N              36
Philippines            Y              34
Fiji                   N              32
New Caledonia          N              32
Reunion                N              29
                       Y              26
Spain                  N              25
Australia              Unknown        25
Usa                    Unknown        24
Mozambique             N              21
Philippines            N              20
Egypt                  N              20
Fiji                   Y              19
French Polynesia       N              19
Mozambique             Y              19
Japan                  N              17
                                    ...
Ireland                Y               1
Indian Ocean           N               1
North Atlantic Ocean   N               1
India                  Unknown         1
Honduras               Y               1
                       N               1
Haiti                  Y               1
                       N               1
Guyana                 N               1
Gulf Of Aden           Y               1
Malaysia               Y               1
Maldive Islands        Y               1
Marshall Islands       Y               1
Martinique             N               1
Nigeria                Y               1
                       N               1
Nicaragua              N               1
Nicaragua              N               1
Nevis                  Y               1
Netherlands Antilles   N               1
Namibia                N               1
Mozambique             Unknown         1
Montenegro             N               1
Monaco                 Y               1
Mid-Pacifc Ocean       N               1
Yemen                  N               1
Mexico                 N               1
Mediterranean Sea      Y               1
Mayotte                Y               1
 Tonga                 N               1
Length: 281, dtype: int64

In [241]:
#Ahora vamos a analizar cómo han sido de graves los ataques en los países con más ataques.

pais_peligroso = data.groupby(['Country', 'Fatal_Y/N']).size()
pais_mas_peligroso = pais_peligroso.drop(pais_peligroso[pais_peligroso < 100].index)
pais_mas_peligroso.sort_values(ascending=False)

#En este caso, y a diferencia de antes, podemos observar que aunque USA es el país con más ataques, el país más
#mortífero en caso de ataque es Australia, siendo mortífero en un 31% de los casos, porcentaje muy parecido al de
#Sudáfrica, el cual es del 18%. Y aunque USA es el país con más ataques registrados, es el que menor tasa de muerte
#presenta, con un 11% de los casos.

Country       Fatal_Y/N
Usa           N            1772
Australia     N             836
South Africa  N             415
Australia     Y             263
Usa           Y             196
South Africa  Y             115
dtype: int64

In [242]:
#Y por último procedo a exportar el archivo.

cleaned = data.to_csv('cleaned.csv', index=False)