## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[36, 57, 49, 97, 71, 40, 64, 33, 72, 89, 5, 46, 70, 41, 39, 67, 52, 9, 73, 85, 0, 47, 14, 17, 91, 87, 12, 82, 23, 90, 21, 99, 37, 80, 35, 51, 76, 28, 11, 63, 10, 50, 44, 30, 25, 81, 43, 26, 1, 3, 78, 79, 13, 68, 75, 60, 95, 66, 83, 42, 19, 6, 8, 61, 38, 98, 86, 27, 53, 96, 88, 56, 45, 58, 7, 16, 94, 4, 92, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
sample_list_2 = [random.randint(0, 100) for _ in range(100)]
print(sample_list_2)

[76, 59, 90, 72, 97, 96, 62, 77, 22, 58, 41, 90, 23, 91, 59, 27, 47, 52, 33, 88, 48, 96, 97, 65, 17, 37, 5, 92, 94, 86, 14, 33, 0, 16, 91, 45, 64, 49, 85, 23, 85, 63, 79, 15, 41, 51, 2, 28, 65, 65, 26, 1, 3, 6, 6, 83, 24, 35, 92, 0, 50, 34, 4, 77, 18, 26, 84, 48, 42, 78, 45, 57, 6, 52, 92, 21, 63, 35, 25, 33, 74, 32, 40, 68, 63, 56, 41, 23, 61, 13, 68, 93, 59, 59, 51, 70, 47, 61, 26, 90]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
set2 = set(sample_list_2)
print(len(set2))

65

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
set3 = set1 - set2
print(set3)

{7, 8, 9, 10, 11, 12, 19, 29, 30, 36, 38, 39, 43, 44, 46, 53, 60, 66, 67, 71, 73, 75, 80, 81, 82, 87, 89, 95, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
set4 = set2 - set1
print(set4)

{32, 65, 2, 34, 74, 77, 15, 48, 18, 84, 22, 24, 59, 93, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
set5 = set1.intersection(set2)
print(set5)

{0, 1, 3, 4, 5, 6, 13, 14, 16, 17, 21, 23, 25, 26, 27, 28, 33, 35, 37, 40, 41, 42, 45, 47, 49, 50, 51, 52, 56, 57, 58, 61, 63, 64, 68, 70, 72, 76, 78, 79, 83, 85, 86, 88, 90, 91, 92, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
if len(set1) + len(set2) == len(set3) + len(set4) + len(set5) + len(set5):
    print("La relación de los 5 sets es que el tamaño de dos sets por separado siempre va a ser igual que la suma de los tamaños de los sets que contienen los valores únicos mas dos veces el set que contiene los valores comunes, dado que al ser un set reduce los valores repetidos, y al ser la intersección de dos sets, reduce los valores a la mitad.")
else:
    print("Prueba de nuevo.")

La relación de los 5 sets es que el tamaño de dos sets por separado siempre va a ser igual que la suma de los tamaños de los sets que contienen los valores únicos mas dos veces el set que contiene los valores comunes, dado que al ser un set reduce los valores repetidos, y al ser la intersección de dos sets, reduce los valores a la mitad.

#### Create an empty set called `set6`.

In [54]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 33, 34, 36, 38, 39, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 85, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [56]:
if set1 == set6:
    print("set1 and set6 are equal.")
else:
    print("set1 and set6 are not equal.")

set1 and set6 are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [60]:
set2.issubset(set1)
set3.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [86]:
set345 = (set3.union(set4)).union(set5)
set12 = set1.union(set2)
if set345 == set12:
    print("They are equal.")
else:
    print("They are different.")

They are different.

#### Using the `pop` method, remove the first element from `set1`.

In [103]:
set_aux = list(set1)
set_aux.reverse()
set_aux.pop()
set_aux.reverse()
set1 = set(set_aux)

{0, 1, 2, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99}
[99, 98, 96, 95, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 71, 70, 68, 67, 66, 65, 64, 63, 62, 61, 59, 58, 57, 56, 54, 52, 51, 50, 48, 47, 46, 45, 43, 42, 41, 39, 38, 37, 36, 34, 33, 32, 31, 30, 29, 28, 26, 24, 23, 22, 20, 19, 18, 17, 16, 15, 14, 13, 12, 10, 8, 7, 6, 4, 2, 1, 0]
[99, 98, 96, 95, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 71, 70, 68, 67, 66, 65, 64, 63, 62, 61, 59, 58, 57, 56, 54, 52, 51, 50, 48, 47, 46, 45, 43, 42, 41, 39, 38, 37, 36, 34, 33, 32, 31, 30, 29, 28, 26, 24, 23, 22, 20, 19, 18, 17, 16, 15, 14, 13, 12, 10, 8, 7, 6, 4, 2, 1]
[1, 2, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99]
{1, 2, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [108]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove2 = set(list_to_remove)

[x for x in set1 if x not in list_to_remove2]

[2,
 4,
 6,
 7,
 8,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 22,
 23,
 24,
 26,
 28,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 42,
 43,
 45,
 46,
 47,
 48,
 50,
 52,
 54,
 56,
 57,
 58,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 92,
 93,
 95,
 96,
 98]